<mat-toolbar class="custom-toolbar">
    <div class="left-section">
        <button class="book-button"><img class="logo" src="education.svg" alt="BookStore"></button>
        <span class="title">BookStore</span>
        <div class="Search-field">
        <mat-icon>search</mat-icon>
        <input matInput placeholder="Search..." />
    </div>
    </div>
    <div class="right-section">
        <div>
            <button class="icons">
            <mat-icon>person_outline</mat-icon>
        </button>
        </div>
    <div>
        <button class="icons">
            <mat-icon>shopping_cart</mat-icon>
        </button></div>
    </div>
</mat-toolbar>