<mat-toolbar class="custom-toolbar">
    <div class="left-section">
        <button class="book-button"><img class="logo" src="education.svg" alt="BookStore" (click)="goToHome()"></button>
        <span class="title">BookStore</span>
        <div class="Search-field">
        <mat-icon>search</mat-icon>
        <input matInput placeholder="Search..." />
    </div>
    </div>
    <div class="right-section">
        <div>
            <button>
                <div class="iconlabel">
            <mat-icon>person_outline</mat-icon>
            <span class="label">Profile</span>
                </div>
            </button>
        </div>
    <div>
        <button>
                <div class="iconlabel">
            <mat-icon>shopping_cart</mat-icon>
            <span class="label">Cart</span>
                </div>
            </button></div>
    </div>
</mat-toolbar>