<div class="wrapper">
    <span class="heading">Forgot Your Password?</span>
    <mat-card class="card">
        <div class="top">
            <span class="detail">Enter your email address and we'll send you a link to reset your password.</span>
            <div class="email-label">
                <label class="email-lab">Email Id</label>
                <input type="email" >
            </div>
            <button class="reset">Reset Password</button>
        </div>
        <button class="create">Create Account</button>
    </mat-card>
</div>